@import "palette";

body {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $second-color;
}

a:hover {
  text-decoration: none;
  color: $third-color;
}

.form-control, .btn-block {
  margin-bottom: 5px;
}

.scrollable-left {
  /* Fixed to prevent gap at bottom of scrollbar when right
      panel is taller than the screen and page is scrolled down */
  position: fixed;
  top: 50px;
  bottom: 50px;
  overflow-y: scroll;
  padding: 15px;

  .list-group {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .right-panel {
    margin-left: 33%;
  }
}

.list-group.borderless .list-group-item{
  border: 0 solid #FFF;
}

.nav-option {
  padding-left: 10px;
}

.flickr-search {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 60px;

  .flickr-result-list {
    position: absolute;
    overflow-y: scroll;
    top: 50px;
    right: 30px;
    left: 20px;
    bottom: 10px;
  }

  .flickr-result-img {
    display: block;
    margin: 5px auto;
  }

  .flickr-preview {
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 40px;
    left: 15px;
    right: 15px;

    > div {
      display: inline-block;
    }

    img {
      display: block;
      margin: auto;
      border-radius: 10px;
      border: 1px solid $second-color;
      max-width: 100%;
    }

    .row {
      position: relative;
      width: 100%;
      bottom: 40px;
    }

    .btn {
      opacity: 0.5;
    }

    .btn:hover {
      opacity: 1;
    }
  }

}