<!-- TRACKS -->
<div class="search-section-label">
    <h3>Tracks</h3>
    <a class="pull-right"
       ng-if="model.tracks.length > 0"
       href="#!/m/search/track?q={{model.q}}">
        View all >>
    </a>
</div>
<ul class="list-group">
    <li class="list-group-item"
        ng-if="!model.tracks || model.tracks.length < 1">
        No tracks found
    </li>
    <li class="list-group-item active"
        ng-if="model.tracks.length > 0">
        <div class="row">
            <div class="col-xs-7 col-sm-5">
                Title
            </div>
            <div class="hidden-xs col-sm-4">
                Album
            </div>
            <div class="col-xs-5 col-sm-3">
                Artist
            </div>
        </div>
    </li>
    <li class="list-group-item"
        ng-if="model.tracks.length > 0"
        ng-repeat="track in model.tracks">
        <div class="row">
            <div class="col-xs-7 col-sm-5 single-line">
                <a href="#!/m/track/{{track.id}}"
                   data-toggle="tooltip"
                   title="{{track.name}}">
                    {{track.name}}
                </a>
                <div class="text-fade-right"></div>
            </div>
            <div class="hidden-xs col-sm-4 single-line"
                 data-toggle="tooltip"
                 title="{{track.album.name}}">
                <a href="#!/m/album/{{track.album.id}}">
                    {{track.album.name}}
                </a>
                <div class="text-fade-right"></div>
            </div>
            <div class="col-xs-5 col-sm-3 single-line"
                 data-toggle="tooltip"
                 title="{{track.artists[0].name}}">
                <a href="#!/m/artist/{{track.artists[0].id}}">
                    {{track.artists[0].name}}
                </a>
                <div class="text-fade-right"></div>
            </div>
        </div>
    </li>
</ul>

<!-- ARTISTS -->
<div class="search-section-label">
    <h3>Artists</h3>
    <a class="pull-right"
       ng-if="model.artists.length > 0"
       href="#!/m/search/artist?q={{model.q}}">
        View all >>
    </a>
</div>
<ul class="list-group"
    ng-if="!model.artists || model.artists.length < 1">
    <li class="list-group-item">
        No artists found
    </li>
</ul>
<div class="row">
    <div ng-repeat="artist in model.artists"
         class="col-xs-6 col-sm-4 artist-result">
        <div class="artist-img"
             data-toggle="tooltip"
             title="{{artist.name}}">
            <a href="#!/m/artist/{{artist.id}}">
                <div ng-if="!artist.images[0]"></div>
                <img ng-if="artist.images[0]"
                     ng-src="{{artist.images[0].url}}" />
            </a>
        </div>
        <h5 align="center"
            data-toggle="tooltip"
            title="{{artist.name}}">
            <a href="#!/m/artist/{{artist.id}}">
                {{artist.name}}
            </a>
        </h5>
        <div class="text-fade-down"></div>
    </div>
</div>

<!-- ALBUMS -->
<div class="search-section-label">
    <h3>Albums</h3>
    <a class="pull-right"
       ng-if="model.albums.length > 0"
       href="#!/m/search/album?q={{model.q}}">
        View all >>
    </a>
</div>
<ul class="list-group"
    ng-if="!model.albums || model.albums.length < 1">
    <li class="list-group-item">
        No albums found
    </li>
</ul>
<div class="row">
    <div ng-repeat="album in model.albums"
         class="col-xs-6 col-sm-4 album-result">
        <div class="album-img"
             data-toggle="tooltip"
             title="{{album.name}}">
            <a href="#!/m/album/{{album.id}}">
                <div ng-if="!album.images[0]"></div>
                <img ng-if="album.images[0]"
                     ng-src="{{album.images[0].url}}" />
            </a>
        </div>
        <h5 align="center"
            data-toggle="tooltip"
            title="{{album.name}}">
            <a href="#!/m/album/{{album.id}}">
                {{album.name}}
            </a>
        </h5>
        <div class="text-fade-down"></div>
    </div>
</div>