@import "palette.scss";

@mixin darkmode {
  background-color: $color1;
  color: $color3;
}

body {
  margin-top: 60px;
  @include darkmode;
}

.tp-artist-img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;

  div {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 1px solid $color9;
    background-color: $color2;
  }

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 1px solid $color9;
    object-fit: cover;
  }
}

.tp-album-img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;

  div {
    width: inherit;
    height: inherit;
    border: 1px solid $color9;
    background-color: $color2;
    display: inline-block;
  }

  img {
    width: inherit;
    height: inherit;
    border: 1px solid $color9;
    object-fit: cover;
  }
}


.form-control {
  margin-bottom: 10px;
}

.follow-btn {
  width: 100px;
  margin-bottom: 10px;
}

.library-btn {
  width: 150px;
  margin-bottom: 10px;
}

.favorite-btn {
  width: 170px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.user-menu {
  display: inline-block;
}

nav-search {
  margin-right: 10px;

  .input-group-btn#search-button {
    display: inline-block;
  }

  #search-input {
    width: 10px;
  }
}

.search-section-label {
  margin-bottom: 10px;
  border-bottom: 1px solid $color4;

  h3 {
    display: inline-block;
    margin: 0;
  }
}

.artist-result {
  margin-bottom: 5px;
  text-align: center;

  .artist-img {
    width: 100px;
    height: 100px;
    margin: auto;

    div {
      border-radius: 50px;
      border: 1px solid $color9;
      width: 100px;
      height: 100px;
      background-color: $color2;
      display: inline-block;
    }

    img {
      border-radius: 50px;
      width: 100px;
      height: 100px;
      border: 1px solid $color9;
      object-fit: cover;
    }
  }

  h5 {
    margin-top: 5px;
    margin-bottom: 0;
    height: 3em;
    overflow: hidden;
  }
}

.album-result {
  margin-bottom: 5px;
  text-align: center;

  .album-img {
    width: 100px;
    height: 100px;
    margin: auto;


    div {
      width: 100px;
      height: 100px;
      border: 1px solid $color9;
      background-color: $color2;
      display: inline-block;
    }

    img {
      width: 100px;
      height: 100px;
      border: 1px solid $color9;
      object-fit: cover;
    }
  }

  h5 {
    margin-top: 5px;
    margin-bottom: 0;
    height: 3em;
    overflow: hidden;
  }
}

.single-line {
  overflow: hidden;
  white-space: nowrap;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-fade-down {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1em;
  z-index: 1;
  background-image: linear-gradient(to bottom, transparent, $color1);
  pointer-events: none;
}

.text-fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3em;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, $color1);
  pointer-events: none;
}

.track-result {
  > div {
    height: 64px;

    .text {
      height: 4em;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }
}

.comment-header {
  border-bottom: 1px solid $color4;
}

.comment-draft {
  margin: 10px 20px;

  .draft-content {
    resize: none;
  }
}

.comment {
  border: 1px solid $color9;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;

  .comment-username {
    margin-bottom: 0;
    float: left;
  }

  .comment-date {
    margin-bottom: 0;
    float: right;
  }

  .comment-remove {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
  }

  .comment-content {
    border-top: 1px solid $color4;
    margin-top: 30px;
    padding: 5px 20px;
    text-align: left;
  }
}


/******** THEME ********/


a {
  color: $color8;
}

a:hover {
  color: $color9;
}

.list-group {
  @include darkmode;
}

.list-group-item {
  @include darkmode;
  border-color: $color9;
}

.list-group-item.active,
.list-group-item.active:hover {
  background-color: $color4;
  border-color: $color4;
  color: $color3;
}

.dropdown-menu {
  background-color: $color4;
  border-color: $color9;
  color: $color3;

  li a {
    color: $color3;
  }

  li a:hover {
    color: $color4;
  }
}

.modal-content{
  @include darkmode;
}

.btn-primary {
  background-color: $color4;
  border-color: $color4;
  color: $color3;
}

.btn-primary:hover {
  background-color: $color9;
  border-color: $color9;
  color: $color4;
}

.btn-link {
  color: $color3;
}

.btn-link:hover {
   color: $color9;
}

.navbar-fixed-top {
  @include darkmode;
  border-bottom: 1px solid $color2;
}

.home-logo {
  color: $color2;
  border-bottom: 1px solid $color4;
}

.home-desc {
  color: $color9;
  margin-bottom: 50px;
}