body {
  margin-top: 60px;
  background-color: #343434;
  color: #f1f0ea; }

#tp-album-art {
  position: absolute;
  top: 70px;
  left: 15px; }

.tp-artist-img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-color: #d33f49;
  border: 1px solid #f9cb40;
  margin-bottom: 10px; }
  .tp-artist-img img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    border: inherit; }

.tp-album-img {
  width: 300px;
  height: 300px;
  background-color: #d33f49;
  margin-bottom: 10px; }
  .tp-album-img img {
    width: inherit;
    height: inherit;
    object-fit: cover; }

#tp-info {
  margin-left: 320px;
  margin-bottom: 10px;
  height: 300px; }

.form-control {
  margin-bottom: 10px; }

.follow-btn {
  width: 100px; }

.library-btn {
  width: 150px;
  margin-bottom: 10px; }

.input-group {
  margin-bottom: 10px; }

.user-menu {
  display: inline-block; }

nav-search {
  margin-right: 10px; }
  nav-search .input-group-btn#search-button {
    display: inline-block; }
  nav-search #search-input {
    width: 10px; }

.search-section-label {
  margin-bottom: 10px;
  border-bottom: 1px solid #384e77; }
  .search-section-label h3 {
    display: inline-block;
    margin: 0; }

.artist-result {
  margin-bottom: 10px; }
  .artist-result div.artist-img {
    border-radius: 50px;
    border: 1px solid #f9cb40;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #d33f49; }
    .artist-result div.artist-img img {
      border-radius: inherit;
      width: inherit;
      height: inherit;
      object-fit: cover;
      border: inherit; }
  .artist-result h5 {
    margin: auto;
    height: 2em;
    overflow: hidden; }

.single-line {
  overflow: hidden;
  white-space: nowrap; }

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; }

.text-fade-down {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1em;
  z-index: 1;
  background-image: linear-gradient(to bottom, transparent, #343434);
  pointer-events: none; }

.text-fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3em;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, #343434);
  pointer-events: none; }

.track-result > div {
  height: 64px; }
  .track-result > div .text {
    height: 4em;
    text-overflow: ellipsis;
    overflow: hidden; }

/******** THEME ********/
a {
  color: #48beff; }

a:hover {
  color: #f9cb40; }

.list-group {
  background-color: #343434;
  color: #f1f0ea; }

.list-group-item {
  background-color: #343434;
  color: #f1f0ea;
  border-color: #f9cb40; }

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #384e77;
  border-color: #384e77;
  color: #f1f0ea; }

.dropdown-menu {
  background-color: #384e77;
  border-color: #f9cb40;
  color: #f1f0ea; }
  .dropdown-menu li a {
    color: #f1f0ea; }
  .dropdown-menu li a:hover {
    color: #384e77; }

.modal-content {
  background-color: #343434;
  color: #f1f0ea; }

.btn-primary {
  background-color: #384e77;
  border-color: #384e77;
  color: #f1f0ea; }

.btn-primary:hover {
  background-color: #f9cb40;
  border-color: #f9cb40;
  color: #384e77; }

.btn-link {
  color: #f1f0ea; }

.btn-link:hover {
  color: #f9cb40; }

.navbar-fixed-top {
  background-color: #343434;
  color: #f1f0ea;
  border-bottom: 1px solid #d33f49; }

/*# sourceMappingURL=style.css.map */
