$color1: rgba(52, 52, 52, 1); // Dark Gray
$color2: rgba(211, 63, 73, 1); // Red
$color3: rgba(241, 240, 234, 1); // White
$color4: rgba(56, 78, 119, 1); // Dark Blue
$color5: rgba(224, 221, 207, 1); // Cream
$color6: rgba(236, 78, 32, 1); // Fire Orange
$color7: rgba(154, 225, 157, 1); // Green
$color8: rgba(72, 190, 255, 1); // Blue
$color9: rgba(249, 203, 64, 1); // Gold
$color10: rgba(176, 178, 184, 1); // Light Gray