<div class="navbar-fixed-top navbar">
    <div class="container-fluid">
        <!--<div class="row">-->
        <a class="navbar-brand "
           href="#!/">
            Sharm
        </a>


        <!-- User Dropdown Menu -->
        <div class="navbar-btn dropdown pull-right user-menu">
            <button class="btn btn-primary dropdown-toggle"
                    type="button"
                    id="userMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      ng-if="nav.currentUser"></span>
                <span class="glyphicon glyphicon-asterisk"
                      ng-if="!nav.currentUser"></span>
            </button>

            <ul class="dropdown-menu active"
                aria-labelledby="userMenu">
                <li ng-if="nav.currentUser">
                    <a href="#!/profile/{{nav.currentUser.username}}">
                        {{nav.currentUser.username}}
                    </a>
                </li>
                <li role="separator"
                    class="divider"
                    ng-if="nav.currentUser"></li>
                <li ng-if="nav.currentUser">
                    <a ng-click="nav.logout()" href="">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
                <li ng-if="nav.currentUser">
                    <a ng-click="nav.unregister()" href="">Delete Accout</a>
                </li>


                <li ng-if="!nav.currentUser">
                    <a href=""
                       type="button"
                       data-toggle="modal"
                       data-target="#loginModal">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Login
                    </a>
                </li>
                <li ng-if="!nav.currentUser">
                    <a href="#!/register">
                        <span class="glyphicon glyphicon-edit"></span>
                        Register
                    </a>
                </li>
            </ul>
        </div>

        <!-- Search Bar -->
        <nav-search class="input-group navbar-btn pull-right">
            <form>
                <input type="text"
                       id="search-input"
                       placeholder="Search"
                       class="form-control"
                       ng-model="query" />
                <span class="input-group-btn"
                      id="search-button">
                    <button class="btn btn-default"
                            type="submit"
                            ng-click="nav.search(query)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </form>
        </nav-search>
    </div>
</div>

<login-modal></login-modal>