<nav-header></nav-header>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="tp-album-img visible-xs center-block">
                <img ng-if="model.track.album.images[0]"
                     ng-src="{{model.track.album.images[0].url}}" />
            </div>
            <div class="tp-album-img hidden-xs">
                <img ng-if="model.track.album.images[0]"
                     ng-src="{{model.track.album.images[0].url}}" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <h1 align="center"
                class="visible-xs">{{model.track.name}}</h1>
            <h1 class="hidden-xs">{{model.track.name}}</h1>
            <h4 align="center"
                class="visible-xs">
                <a href="#!/m/artist/{{model.track.artists[0].id}}">
                    {{model.track.artists[0].name}}
                </a>
                •
                <a href="#!/m/album/{{model.track.album.id}}">
                    {{model.track.album.name}}
                </a>
            </h4>
            <h4 class="hidden-xs">
                <a href="#!/m/artist/{{model.track.artists[0].id}}">
                    {{model.track.artists[0].name}}
                </a>
                •
                <a href="#!/m/album/{{model.track.album.id}}">
                    {{model.track.album.name}}
                </a>
            </h4>
            <h6 align="center"
                class="visible-xs">{{model.track.duration_formatted}}</h6>
            <h6 class="hidden-xs">{{model.track.duration_formatted}}</h6>

            <div class="visible-xs text-center"
                 ng-if="model.track.artists.length > 1">
                Also featured:<br/>
                <span ng-repeat="artist in model.track.artists"
                      ng-if="$index > 0">
                    <a href="#!/m/artist/{{artist.id}}">
                        {{artist.name}}
                    </a>
                    <br/>
                </span>
            </div>
            <div class="hidden-xs"
                 ng-if="model.track.artists.length > 1">
                Also featured:<br/>
                <span ng-repeat="artist in model.track.artists"
                      ng-if="$index > 0">
                    <a href="#!/m/artist/{{artist.id}}">
                        {{artist.name}}
                    </a>
                    <br/>
                </span>
            </div>

            <div class="text-center visible-xs">
                <library type="track"></library>
            </div>
            <div class="hidden-xs">
                <library type="track"></library>
            </div>

        </div>
    </div>

    <!--<iframe ng-src="{{model.embedURL}}"-->
            <!--width="250"-->
            <!--height="80"-->
            <!--frameborder="0"-->
            <!--class="center-block"-->
            <!--allowtransparency="true"></iframe>-->

    <comment-section thread="track:{{model.track.id}}">

    </comment-section>
</div>