<div ng-class="model.styleType">
    <wd-nav-wrapper>

        <div class="container-fluid" wd-draggable>
            <div ng-repeat="widget in model.widgets" class="wd-widget">
                <div class="wd-widget-toolbar">
                    <span class="glyphicon glyphicon-move pull-right wd-handle"></span>
                    <a href="#!{{model.previousPage+model.pageId}}/widget/{{widget._id}}"
                       class="btn-link">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
                <div class="wd-widget-content"
                     ng-include="'views/widget/templates/widget-'
                        + (widget.widgetType | lowercase) + '.view.client.html'">
                </div>
            </div>

        </div>

    </wd-nav-wrapper>
</div>