<div ng-class="model.styleType">
    <wd-nav-wrapper>

        <div class="container-fluid">
            <form name="widgetForm">
                <label for="name">Widget Name</label>
                <input id="name"
                       name="name"
                       type="text"
                       ng-model="model.widget.name"
                       placeholder="Widget Name"
                       class="form-control required"
                       required />

                <div ng-include="'views/widget/templates/edit/widget-'
                    + (model.widget.widgetType | lowercase)
                    + '.view.client.html'"></div>

                <button type="submit"
                        class="btn btn-success btn-block"
                        ng-click="model.updateWidget()"
                        ng-disabled="widgetForm.name.$invalid">
                    <span class="glyphicon glyphicon-ok"></span>
                    Confirm
                </button>
            </form>

            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </a>
            <a class="btn btn-warning btn-block"
               href="#!{{model.previousPage}}">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>

    </wd-nav-wrapper>
</div>