<div ng-class="model.styleType">
    <div ng-include="'views/common/templates/navbar-header.view.client.html'"></div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs scrollable-left">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-sm-7 col-xs-9">Website</div>

                            <div class="col-sm-2 hidden-xs">Modified</div>

                            <div class="col-xs-3">
                                <a class="btn-link pull-right"
                                   href="#!/user/{{model.userId}}/website/new">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <div class="row">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                                <div class="col-sm-7 col-xs-9">{{website.name}}</div>
                            </a>

                            <div class="col-sm-2 hidden-xs">{{website.modified | date:'M/dd/yy'}}</div>

                            <div class="col-xs-3">
                                <a class="btn-link pull-right"
                                   href="#!/user/{{model.userId}}/website/{{website._id}}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <! End Left Panel>
            <div class="col-xs-12 col-md-8 right-panel">
                <label for="name">Website Name</label>
                <input id="name"
                       value=""
                       type="text"
                       placeholder="Website Name"
                       ng-model="model.website.name"
                       class="form-control"/>

                <label for="description">Description</label>
                <textarea id="description"
                          rows="5"
                          class="form-control"
                          ng-model="model.website.description"
                          placeholder="Website Description"></textarea>

                <a class="btn btn-success btn-block"
                   ng-click="model.createWebsite()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Create
                </a>
                <a class="btn btn-warning btn-block"
                   href="#!{{model.previousPage}}">
                    Cancel
                </a>

            </div>

        </div>

    </div>

    <div ng-include="'views/common/templates/navbar-footer.view.client.html'"></div>
</div>