<div ng-class="model.styleType">
    <wd-nav-wrapper>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs scrollable-left">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <div class="row">
                                <div class="col-sm-7 col-xs-9">Website</div>

                                <div class="col-sm-2 hidden-xs">Modified</div>

                                <div class="col-xs-3">
                                    <a class="btn-link pull-right"
                                       href="#!/website/new">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li ng-repeat="website in model.websites" class="list-group-item">
                            <div class="row">
                                <a href="#!/website/{{website._id}}/page">
                                    <div class="col-sm-7 col-xs-9">{{website.name}}</div>
                                </a>

                                <div class="col-sm-2 hidden-xs">{{website.dateModified | date:'M/dd/yy'}}</div>

                                <div class="col-xs-3">
                                    <a class="btn-link pull-right"
                                       href="#!/website/{{website._id}}">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <! End left panel>

                <div class="col-xs-12 col-md-8 right-panel">
                    <form name="websiteForm">
                        <label for="name">Website Name</label>
                        <input id="name"
                               name="name"
                               type="text"
                               ng-model="model.website.name"
                               placeholder="Website Name"
                               class="form-control required"
                               required />

                        <label for="description">Description</label>
                        <textarea id="description"
                                  placeholder="Website Description"
                                  rows="5"
                                  ng-model="model.website.description"
                                  class="form-control"></textarea>

                        <button type="submit"
                                class="btn btn-success btn-block"
                                ng-click="model.updateWebsite()"
                                ng-disabled="websiteForm.name.$invalid">
                            <span class="glyphicon glyphicon-ok"></span>
                            Confirm
                        </button>
                    </form>
                    <a class="btn btn-danger btn-block"
                       ng-click="model.deleteWebsite()">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </a>
                    <a class="btn btn-warning btn-block"
                       href="#!{{model.previousPage}}">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </a>
                </div>

            </div>

        </div>

    </wd-nav-wrapper>
</div>