<div ng-class="model.styleType">
    <wd-nav-wrapper>
        <div class="container-fluid">

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-md-5 col-xs-7">Website</div>

                        <div class="col-md-2 visible-md visible-lg">Created</div>

                        <div class="col-xs-2">Modified</div>

                        <div class="col-xs-3">
                            <a class="btn-link pull-right"
                               href="#!/user/{{model.userId}}/website/new">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                            <div class="col-md-5 col-xs-7">{{website.name}}</div>
                        </a>

                        <div class="col-md-2 visible-md visible-lg">{{website.created | date:'M/dd/yy'}}</div>

                        <div class="col-xs-2">{{website.modified | date:'M/dd/yy'}}</div>

                        <div class="col-xs-3">
                            <a class="btn-link pull-right"
                               href="#!/user/{{model.userId}}/website/{{website._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </wd-nav-wrapper>
</div>