
<div ng-if="model.message"
     class="alert alert-info">
    {{model.message}}
</div>

<form>
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           ng-model="username"
           placeholder="username"/>

    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           ng-model="password"
           placeholder="password"/>

    <button class="btn btn-block btn-success"
            ng-click="model.login(username, password)">
        Login
    </button>

    <a href="#!/register"
       class="btn btn-block btn-primary">
        Register
    </a>

    <button class="btn btn-block btn-danger"
            data-dismiss="modal">
        Cancel
    </button>
</form>