<nav-header></nav-header>

<div class="container">
    <form>
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               ng-model="username"
               placeholder="username"
               required />

        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               ng-model="password"
               placeholder="password"
               required />

        <label for="passConfirm">Confirm Password</label>
        <input type="password"
               class="form-control"
               id="passConfirm"
               ng-model="passConfirm"
               placeholder="confirm"
               required />


        <label for="email">E-Mail</label>
        <input type="email"
               id="email"
               class="form-control"
               ng-model="email" />

        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               class="form-control"
               ng-model="name.first" />

        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               class="form-control"
               ng-model="name.last" />

        <button class="btn btn-block btn-success"
                ng-click="model.register(username, password, passConfirm, email, name)">
            Register
        </button>

        <a class="btn btn-block btn-danger"
           href="#!/">
            Cancel
        </a>
    </form>
</div>